@import "@fortawesome/fontawesome-free/css/all.min.css";
/*resources/css/app.css*/

/* @import './../../vendor/power-components/livewire-powergrid/dist/tailwind.css'; */
@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}
@layer utilities {
    .font-bengali .text-xs {
        font-size: 14px !important;
    }
    .font-bengali .text-sm {
        font-size: 16px !important;
    }
    .font-bengali .text-base {
        font-size: 18px !important;
    }
    .font-bengali .text-lg {
        font-size: 20px !important;
    }
    .font-bengali .text-xl {
        font-size: 22px !important;
    }
    .font-bengali .text-2xl {
        font-size: 26px !important;
    }
    .font-bengali .text-3xl {
        font-size: 32px !important;
    }
}
